* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}
.titel {
  width: 100%;
  height: 20%;
  /* background-color: purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #ffffff;
}
.titel {
  margin-right: 10%;
}
.buttons {
  width: 100%;
  height: 40%;
  /* background-color: rgb(142, 119, 142); */
  display: flex;
  flex-direction: row;
}
.buttons-1 {
  width: 50%;
  height: 100%;
  /* background-color: green; */
}

.buttons-2 {
  width: 50%;
  height: 100%;
  /* background-color: rgb(78, 102, 78); */
  display: flex;
  flex-direction: row;
}
.add {
  width: 33%;
  height: 100%;
  /* background-color: rgb(102, 89, 78); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.add h2 {
  margin-bottom: 10%;
  color: #ffffff;
}

.delete {
  width: 33%;
  height: 100%;
  /* background-color: rgb(102, 89, 78); */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.delete h2 {
  margin-top: 14%;
  margin-bottom: 10%;
  color: #ffffff;
}

.edit {
  width: 33%;
  height: 100%;
  /* background-color: rgb(102, 89, 78); */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.edit h2 {
  margin-top: 14%;
  margin-bottom: 10%;
  color: #ffffff;
}
.eten-lijst {
  margin-top: -24%;
  width: 40%;
  height: 100%;
  /* background-color: #f13636; */
}
.container-2 {
  width: 100%;
  height: 900vh;
  background-color: #000000;
}

.menu-eten {
  width: 100%;
  height: 85%;
  /* background-color: rgb(122, 72, 72); */
  display: flex;
  flex-direction: column;
}
.producten {
  width: 65%;
  height: 12%;
  /* background-color: green; */
  margin-top: 22%;
  margin-left: 11%;
  text-align: left;
}
.titel {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 7%;
}
.beschrijving {
  font-size: 14px;
  color: #ffffff;
  margin-top: 1%;
}
.prijs {
  font-size: 18px;
  color: #ffffff;
  margin-top: 2%;
}
